<article id="awesomethings" class="work-block clearfix">
    <header class="hero-image"></header>

    <div class="column work-content">
        <h2>AwesomeThings.</h2>

        <div class="work-info">
            <span class="work-detail">2014</span>
            <span class="work-detail">Design / Code / Identity</span>

            <a href="http://awesomethin.gs/" target="_blank" class="big-button">Visit AwesomeThings</a>
        </div>

        <div class="work-description">
            <p>A blog about design, technology, creativity, and advertising (and whatever else pops into my head), AwesomeThings is an outlet to write my thoughts about the modern digital world in a more expansive way than the character limit imposed by social media. Working through various design iterations, the latest version strips down the site to the basics: a focus on text, legibility across all devices, and minimal distraction. The responsive site was built using SASS, Compass, and PHP on a WordPress backend.</p>

            <a href="http://awesomethin.gs/" target="_blank" class="big-button">Visit AwesomeThings</a>
        </div>

        <img src="/img/awesomethings/main.jpg" class="full">
        <img src="/img/awesomethings/logo.svg" class="full padded">
        <img src="/img/trans-tall.png" data-original="/img/awesomethings/1.jpg" class="full bordered lazy">
        <div class="grid_row">
	        <div class="half"><img src="/img/trans-tall.png" data-original="/img/awesomethings/2.jpg" class="bordered lazy"></div>
	        <div class="half"><img src="/img/trans-tall.png" data-original="/img/awesomethings/3.jpg" class="bordered lazy"></div>
        </div>
    </div>
</article>