<article id="hotcars" class="work-block clearfix">
    <header class="hero-image"></header>

    <div class="column work-content">
        <h2>Metro HotCars.</h2>

        <div class="work-info">
            <span class="work-detail">2013</span>
            <span class="work-detail">Design / Code</span>

            <a href="http://metrohotcars.com/" target="_blank" class="big-button">Visit Metro HotCars</a>
        </div>

        <div class="work-description">
            <p>Initially built as a humorous single page site to test out some new CSS3 animations and development techniques, Metro HotCars quickly struck a chord with DC residents fed up with the failings of the local regional transit authority. Exploding overnight based on a single tweet, the site saw over twenty five thousand unique visitors within twenty-four hours and was covered by DCist and the CBS local news. After receiving a cease and desist from the transit authority’s lawyers, the site was quickly redacted, with all references, copyrights, and trademarks scribbled out in the style of confidential documents. This, of course, elicited another round of coverage from the local media, heaping scorn on the transit authority’s handling of the situation. What started as a simple design experiment launched in the middle of the night escalated into an example of how not to respond to social media and satire online. The static site was built using SASS and Compass.</p>

            <a href="http://metrohotcars.com/" target="_blank" class="big-button">Visit Metro HotCars</a>
        </div>

        <img src="/img/hotcars/main.jpg" class="full">
        <div class="grid_row">
	        <div class="half"><img src="/img/trans-tall.png" data-original="/img/hotcars/1.jpg" class="bordered lazy"></div>
	        <div class="half"><img src="/img/trans-tall.png" data-original="/img/hotcars/2.jpg" class="bordered lazy"></div>
        </div>
    </div>
</article>