<article id="mfstrangers" class="work-block clearfix">
    <header class="hero-image"></header>

    <div class="column work-content">
        <h2>Mistaken For Strangers.</h2>

        <div class="work-info">
            <span class="work-detail">2013</span>
            <span class="work-detail">Design / Code / Identity</span>

            <a href="http://www.mistakenforstrangers.com/" target="_blank" class="big-button">Visit Mistaken For Strangers</a>
        </div>

        <div class="work-description">
            <p>A Washington, DC-based music blog started by myself and two fellow music lovers, Mistaken For Strangers’ tagline is &ldquo;We like good music. We think you should too.&rdquo; All identity and branding from the start was done with the intent of conveying the knowledge and love of music that we share. The site was designed to be more like a print magazine than a traditional blog, with a focus on large imagery, great typography, and dynamic high-impact layouts. Mistaken For Strangers was built using SASS and Compass with fully responsive custom templates (including swipe gestures, AJAX loading, and web app capability for mobile) on a WordPress backend.</p>

            <a href="http://www.mistakenforstrangers.com/" target="_blank" class="big-button">Visit Mistaken For Strangers</a>
        </div>

        <img src="/img/mfstrangers/main.jpg" class="full">
        <img src="/img/mfstrangers/logo.svg" class="full padded">
        <div class="full">
            <div class="browser"></div>
            <div class="video-load browser-video">
	            <!--<iframe src="//player.vimeo.com/video/88718128" width="1024" height="579" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            </div>
        </div>
        <div class="grid_row">
	        <div class="third"><img src="/img/trans-tall.png" data-original="/img/mfstrangers/1.jpg" class="bordered lazyload"></div>
	        <div class="third"><img src="/img/trans-tall.png" data-original="/img/mfstrangers/2.jpg" class="bordered lazyload"></div>
	        <div class="third"><img src="/img/trans-tall.png" data-original="/img/mfstrangers/3.jpg" class="bordered lazyload"></div>
        </div>
    </div>
</article>