<article id="renaissance" class="work-block clearfix">
    <header class="hero-image"></header>

    <div class="column work-content">
        <h2>Renaissance Hotels.</h2>

        <div class="work-info">
            <span class="work-detail">2013</span>
            <span class="work-detail">Design</span>
        </div>

        <div class="work-description">
            <p>As part of an overhaul of their brand and digital experience for guests, Renaissance Hotels by Marriott installed iPad kiosks in the lobbies of their hotels. Called “RNavigators,” they allow visitors to see what experts recommend for dining, shopping, and activities around the hotel in an effort to encourage discovery of the local areas and culture. From these kiosks, users are able to send an email to themselves with their selected recommendations or sign up for a “pick of the day” that has featured recommendations. The emails were designed to follow the clean and elegant goals of the new Renaissance branding while also being flexible enough to allow for multiple selections or featured images to show off recommendations.</p>

            <span class="work-person">Development: <a href="http://nclud.com/team/kevin-sung/" target="_blank">Kevin Sung</a></span>
        </div>

        <img src="/img/renaissance/main.jpg" class="full">
        <img src="/img/trans-tall.png" data-original="/img/renaissance/1.jpg" class="half bordered lazy">
        <img src="/img/trans-tall.png" data-original="/img/renaissance/2.jpg" class="half bordered lazy row-last">
    </div>
</article>