<article id="thisweeksplaylist" class="work-block clearfix">
    <header class="hero-image"></header>

    <div class="column work-content">
        <h2>This Week's Playlist.</h2>

        <div class="work-info">
            <span class="work-detail">2015</span>
            <span class="work-detail">Design / Code / Identity</span>

            <a href="http://thisweeksplaylist.co/" target="_blank" class="big-button">Visit This Week's Playlist</a>
        </div>

        <div class="work-description">
            <p>With so much new music being released every week, how does someone find the best of it without constantly visiting blogs or relying on Pandora or Spotify to happen upon a song they might like? That was the challenge tackled by This Week's Playlist &mdash; every Sunday, a new playlist of ten to twenty songs, curated by myself and a fellow music blog veteran. Intended to be inherently temporary, there is no archive or reference of old playlists or songs. With a mix of all genres and styles, the site uses large beautiful serif type contrasted with an old-school monospace font to introduce listeners to something they might not have heard before (and, hopefully, will dance along to). A static site built with Gulp and SASS, This Week's Playlist is fully responsive so that anyone, anywhere can listen on whatever device or platform they prefer.</p>

            <a href="http://thisweeksplaylist.co/" target="_blank" class="big-button">Visit This Week's Playlist</a>
        </div>

        <img src="/img/thisweeksplaylist/main.jpg" class="full">
        <img src="/img/thisweeksplaylist/logo.svg" class="full padded">
        <img src="/img/trans-wide.png" data-original="/img/thisweeksplaylist/1.jpg" class="full bordered lazy">
        <div class="grid_row">
        	<div class="third"><img src="/img/trans.png" data-original="/img/thisweeksplaylist/2.jpg" class="bordered lazy"></div>
        	<div class="third"><img src="/img/trans.png" data-original="/img/thisweeksplaylist/3.jpg" class="bordered lazy"></div>
        	<div class="third"><img src="/img/trans.png" data-original="/img/thisweeksplaylist/4.jpg" class="bordered lazy"></div>
        </div>
    </div>
</article>