/* FOOTER */
footer {
	// padding: 2rem 0;
	padding: 0 0 12rem;
	text-align: center;
	background: white;

	ul {
		width: 55%;
		max-width: 700px;
		margin: 0 auto 8rem;

		@include breakpoint(portrait) {
			width: 70%;
		}
		@include breakpoint(mobile) {
			width: 100%;
		}
	}

	li {
		display: block;
		width: 100%;
		text-align: center;
	}

	// .zero {
	// 	width: 5rem;
	// 	margin: 0 auto;

	// 	@include breakpoint(landscape) {
	// 		width: 4.5rem;
	// 	}
	// }
}

#dmx {
	width: 5rem;
	height: 5rem;
	display: block;
	margin: 0 auto;
	position: relative;
	opacity: 0.1;

	&:before,
	&:after {
		display: block;
		width: 100%;
		top: 40%;
		height: 0.75rem;
		background: $dark;
		position: absolute;
		content: '';
	}
	&:before {
		@include transform(rotate(45deg));
	}
	&:after {
		@include transform(rotate(-45deg));
	}
}