/* GRID */
nav,
div,
article,
section,
footer,
header {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

#main-header,
.about-footer,
#about,
footer {
	z-index: 999;
}
nav {
	z-index: 500;
}



.column {
	width: 80%;
	margin: 0 auto;
	max-width: 1350px;

	@include breakpoint(landscape) {
		width: 84%;
	}
	@include breakpoint(portrait) {
		width: 86%;
	}
	@include breakpoint(mobile) {
		width: 90%;
	}
}



.grid_row {
	// padding-bottom: 20px;
	clear: both;
	width: 100%;
}
.full,
.half,
.third,
.two-third {
	margin-bottom: 20px;
}

.full {
	clear: both;
	width: 100%;
}

.half {
	// @include calc(width, "50% - 10px");
	width: 50%;
	padding-right: 10px;
	padding-left: 0;

	&:last-child {
		padding-right: 0;
		padding-left: 10px;

		@include breakpoint(mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.no-margin-btm {
	margin-bottom: 0;
}

.third {
	// @include calc(width, "(100% / 3) - 10px");
	@include calc(width, "100% / 3");
	padding-right: 14px;
	padding-left: 14px;

	&:first-child {
		padding-left: 0;

		@include breakpoint(mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&:not(:first-child):not(:last-child) {
		padding-left: 7px;
		padding-right: 7px;

		@include breakpoint(mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&:last-child {
		padding-right: 0;

		@include breakpoint(mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.two-third {
	// @include calc(width, "((100% / 3) * 2) - 10px");
	@include calc(width, "(100% / 3) * 2");
	padding-right: 6px;
	padding-left: 0;

	&:last-child {
		padding-left: 6px;
		padding-right: 0;

		@include breakpoint(mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.half,
.third,
.two-third {
	float: left;
	// margin-right: 20px;

	@include breakpoint(mobile) {
		width: 100%;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

// .row-last {
// 	margin-right: 0;
// }
