/* GRID */
nav,
div,
article,
section,
footer,
header {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

.column {
	width: 80%;
	margin: 0 auto;
	max-width: 1350px;

	@include breakpoint(landscape) {
		width: 84%;
	}
	@include breakpoint(portrait) {
		width: 86%;
	}
	@include breakpoint(mobile) {
		width: 90%;
	}
}



.full,
.half,
.third,
.two-third {
	margin-bottom: 1.5rem;
}

.full {
	clear: both;
	width: 100%;
}

.half {
	@include calc(width, "50% - 0.75rem");
}

.third {
	@include calc(width, "(100% / 3) - 1rem");
}

.two-third {
	@include calc(width, "((100% / 3) * 2) - 0.75rem");
}

.half,
.third,
.two-third {
	float: left;
	margin-right: 1.5rem;

	@include breakpoint(mobile) {
		width: 100%;
		margin-right: 0;
	}
}

.row-last {
	margin-right: 0;
}
