/* HEADER */
#page-hero {
	padding-top: 44vh;
	padding-bottom: 46vh;
}

.hero-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 5%;
	height: 30rem;
	border-top: 1px solid rgba(black,0.25);

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 65%;
		z-index: 2;
		display: block;
		content: "";
	}
}