/* HEADER */
#page-hero {
	height: 93vh;

	.main-hero {
		position: absolute;
		top: 48%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		width: 7.5rem;
	}

	.hero-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 10rem;
		height: 12rem;
		vertical-align: middle;
		@include transform(translate(-50%,-55%));
	}
}

.hero-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 5%;
	height: 30rem;
	border-top: 1px solid rgba(black,0.25);

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 80%;
		z-index: 2;
		display: block;
		content: "";
	}

	@include breakpoint(large) {
		height: 36rem;
	}
}