/* HEADER */
#page-hero {
	padding-top: 44vh;
	padding-bottom: 48vh;

	@include breakpoint(landscape) {
		padding-top: 19rem;
		padding-bottom: 23rem;
	}
	@include breakpoint(portrait) {
		padding-top: 30rem;
		padding-bottom: 34rem;
	}
	@include breakpoint(mobile) {
		padding-top: 14rem;
		padding-bottom: 18rem;
	}


	.hero-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 10rem;
		height: 12rem;
		vertical-align: middle;
		@include transform(translate(-50%,-55%));
	}
}

.hero-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 5%;
	height: 30rem;
	border-top: 1px solid rgba(black,0.25);

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 80%;
		z-index: 2;
		display: block;
		content: "";
	}

	@include breakpoint(large) {
		height: 36rem;
	}
}