/* IMAGES */
img {
	display: block;
	width: 100%;
	height: auto;
	border: 0;
	outline: none;

	&.bordered {
		border: 1px solid rgba(black,0.15);
	}

	&.lazy {
		display: none;
		background-color: rgba(black,0.15);
		background-image: url('../img/load.gif');
		background-repeat: no-repeat;
		background-size: 24px 24px;
		background-position: center center;
	}

	&.padded {
		padding: 0.75rem 2.5rem 1.5rem;
	}
}