/* IMAGES */
img {
	display: block;
	width: 100%;
	height: auto;
	@include transform(translate3d(0,0,0));

	&.bordered {
		border: 1px solid rgba(black,0.25);
	}

	&.lazy {
		display: none;
		background-color: rgba(black,0.15);
		background-image: url('../img/load.gif');
		background-repeat: no-repeat;
		background-size: 32px 32px;
		background-position: center center;
	}
}