/* MAIN AREAS */
.work-block {
	padding-bottom: 5.5rem;
}

.work-content {
	z-index: 5;
	margin-top: -13rem;
}

.work-info {
	width: 40%;
	padding-right: 11%;

	@include breakpoint(portrait) {
		padding-right: 8%;
	}
	@include breakpoint(mobile) {
		padding-bottom: 2rem;

		.big-button {
			display: none;
		}
	}
}
.work-description {
	width: 60%;
	padding-bottom: 4rem;

	.big-button {
		display: none;

		@include breakpoint(mobile) {
			display: block;
		}
	}
}

.work-info,
.work-description {
	float: left;

	@include breakpoint(mobile) {
		float: none;
		width: 100%;
	}
}


#about {
	padding: 6rem 0;

	&:before {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		background: rgba(black,0.2);
		display: block;
		height: 1px;
		content: "";
	}
}