/* NAV BAR */

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
	background: $dark;
	border-bottom: 1px solid white;

	opacity: 0.85;

	.column {
		height: 100%;
	}

	.desktop & {
		opacity: 0.25;

		@include transition(0.25s);

		&:hover {
			opacity: 1;
		}
	}

	@include breakpoint(mobile) {
		height: 50px;
	}
}

.nav-link-top {
	display: block;
	height: 100%;
	width: auto;
	float: left;
}

.nav-link-list {
	float: right;
	height: 100%;
	display: block;
	border-right: 1px solid white;

	li {
		float: left;
		display: table;
		height: 100%;
		border-left: 1px solid white;
	}
}
.nav-link {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding: 0 2em;

	.desktop & {
		&:hover,
		&:active {
			background: white;
		}
	}

	&.inactive {
		opacity: 0.5;
		pointer-events: none;
		cursor: default;
	}
}