/* TEXT SETTINGS */
* {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1,
h2,
h3,
.big-button,
.work-detail,
.work-person,
.caption,
.client-list {
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
 	text-transform: uppercase;
 	font-size: 1rem;
 	color: $dark;
}
h2 {
	color: white;
	font-size: 3.75rem;
	border-bottom: 1px solid rgba(white,0.5);
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
	letter-spacing: -0.025em;

	@include breakpoint(mobile) {
		white-space: normal;
		line-height: 0.9;
		font-size: 2.75rem;
	}
}
h3 {
	text-transform: uppercase;
	margin: 0 auto 1rem;
	font-size: 0.8rem;
	color: rgba($dark,0.25);
}

p {
	color: white;
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: Georgia, serif;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;

	#about & {
		color: $dark;
		margin: 0 auto;
		margin-bottom: 1em;
		font-size: 1.1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		color: $dark;
		text-transform: uppercase;
		font-family: "futura-pt", sans-serif;
		font-weight: 700;
		text-decoration: none;
		font-size: 0.8em;

		&:hover {
			text-decoration: underline;
		}
	}
}

.client-list {
	display: block;
	margin: 0 auto;
	color: $dark;
	font-size: 0.9rem;
	line-height: 1.35;
}

hr {
	display: block;
	margin: 3.5rem auto;
	border: 0;
	height: 1px;
	background: rgba(black,0.075);
}

h3,
hr,
#about p,
.client-list {
	width: 55%;
	max-width: 700px;

	@include breakpoint(portrait) {
		width: 70%;
	}
	@include breakpoint(mobile) {
		width: 100%;
	}
}

footer {
	a {
		color: $dark;
		text-transform: uppercase;
		font-family: "futura-pt", sans-serif;
		font-weight: 700;
		text-decoration: none;
		font-size: 1.1rem;
		display: block;
		padding: 0.75rem 0;

		&:hover {
			text-decoration: underline;
		}
	}
}

.big-button {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	text-align: center;
	border: 2px solid white;
	font-size: 0.75rem;
	margin-top: 2.5rem;
	width: 100%;
	line-height: 1.25;
	letter-spacing: 0.5em;
	padding: 1.65em 0.65em 1.65em 1em;

	&:hover {
		background: white;
	}
}

.work-detail {
	font-size: 0.875rem;
	text-transform: uppercase;
	display: block;
	color: white;
	padding-bottom: 0.35em;
}
.work-person {
	letter-spacing: 0.075em;
	font-size: 0.675rem;
	text-transform: uppercase;
	display: block;
	color: white;
	line-height: 1.5;
	opacity: 0.8;
	padding-top: 1.25rem;

	a {
		text-decoration: none;
		color: white;
		border-bottom: 1px dotted white;

		&:hover {
			border-bottom-style: solid;
		}
	}
}
.spacer {
	margin-left: 1em;
	margin-right: 1em;
	font-weight: 400;
}

.caption {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.025em;
	display: block;
	line-height: 1.3;
}