/* WORK */
$doom: #de1133;
$starwars: #b89e4e;
$nclud: #ac2eff;
$nbcsports: #f1a536;
$worldofx: #d8232a;
$thisweeksplaylist: #121212;
$tesla: #f10600;
$giffffr: #ff007f;
$sketchbook: #0c1e27;
$awesomethings: #a9a9a9;
$jquery: #0769AD;
$renaissance: #f89d31;
$mfstrangers: #8e44ad;
$hotcars: #0076be;



.browser {
	width: 100%;
	height: 34px;
	background-image: url('/img/browser-btn.png'), url('/img/browser-chrome.png');
	background-repeat: no-repeat, repeat-x;
	background-size: auto 100%;
	background-position: left center;
	border-radius: 5px 5px 0 0;
	z-index: 10;
	position: relative;

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: rgba(black, 0.2);
		display: block;
		content: '';
	}

	@include breakpoint(landscape) {
		height: 28px;
	}
	@include breakpoint(portrait) {
		height: 24px;
	}
	@include breakpoint(mobile) {
		height: 18px;
		border-radius: 3px 3px 0 0;
	}
}

.video-load {
	&.browser-video {
		padding-top: 56.54296875%;
		background-color: rgba(black,0.15);
		background-image: url('/img/load.gif');
		background-repeat: no-repeat;
		background-size: 24px 24px;
		background-position: center center;

		@include breakpoint(mobile) {
			background-size: 16px 16px;
		}
	}
}
// .video-space {
// 	position: relative;
// 	border-radius: 0 0 5px 5px;
// 	overflow: hidden;

// 	&.browser-video {
// 		padding-bottom: 56%;
// 		background-color: rgba(black,0.15);
// 		background-image: url('/img/load.gif');
// 		background-repeat: no-repeat;
// 		background-size: 24px 24px;
// 		background-position: center center;

// 		@include breakpoint(mobile) {
// 			background-size: 16px 16px;
// 		}
// 	}
// }




#doom {
	background: $doom;

	.hero-image {
		background-image: url('/img/doom/hero.jpg');
		background-position: right 5%;

		@include breakpoint(mobile) {
			background-position: 80% top;
		}

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($doom, 0) 0%, $doom 100%));
		}
	}
}


#starwars {
	background: $starwars;

	.hero-image {
		background-image: url('/img/starwars/hero.jpg');

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($starwars, 0) 0%, $starwars 100%));
		}
	}

	.big-button {
		&:hover {
			color: $starwars;
		}
	}
}


#nclud {
	background: $nclud;

	.hero-image {
		background-image: url('/img/nclud/hero.jpg');
		background-position: right top;

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($nclud, 0) 0%, $nclud 100%));
		}
	}

	.big-button {
		&:hover {
			color: $nclud;
		}
	}
}


#nbcsports {
	background: $nbcsports;

	.hero-image {
		background-image: url('/img/nbcsports/hero.jpg');

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($nbcsports, 0) 0%, $nbcsports 100%));
		}
	}
}


#worldofx {
	background: $worldofx;

	.hero-image {
		background-image: url('/img/worldofx/hero.jpg');

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($worldofx, 0) 0%, $worldofx 100%));
		}
	}

	.big-button {
		&:hover {
			color: $worldofx;
		}
	}
}


#thisweeksplaylist {
	background: $thisweeksplaylist;

	.hero-image {
		background-image: url('/img/thisweeksplaylist/hero.jpg');

		@include breakpoint(mobile) {
			background-position: 20% top;
		}

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($thisweeksplaylist, 0) 0%, $thisweeksplaylist 100%));
		}
	}

	.big-button {
		&:hover {
			color: $thisweeksplaylist;
		}
	}
}


#tesla {
	background: $tesla;

	.hero-image {
		background-image: url('/img/tesla/hero.jpg');

		@include breakpoint(mobile) {
			background-position: 17% top;
		}

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($tesla, 0) 0%, $tesla 100%));
		}
	}
}


#giffffr {
	background: $giffffr;

	.hero-image {
		background-image: url('/img/giffffr/hero.gif'), url('/img/giffffr/hero.jpg');
		background-size: cover, cover;
		background-position: center bottom, center bottom;

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($giffffr, 0) 0%, $giffffr 100%));
		}
	}

	.big-button {
		&:hover {
			color: $giffffr;
		}
	}
}


// #sketchbook {
// 	background: $sketchbook;

// 	.hero-image {
// 		background-image: url('/img/sketchbook/hero.jpg');

// 		&:after {
// 			@include background-image(linear-gradient(to bottom, transparent 0%, $sketchbook 100%));
// 		}
// 	}

// 	.big-button {
// 		&:hover {
// 			color: $sketchbook;
// 		}
// 	}
// }


// #awesomethings {
// 	background: $awesomethings;

// 	.hero-image {
// 		background-image: url('/img/awesomethings/hero.jpg');

// 		@include breakpoint(mobile) {
// 			background-position: 35% top;
// 		}

// 		&:after {
// 			@include background-image(linear-gradient(to bottom, transparent 0%, $awesomethings 100%));
// 		}
// 	}

// 	.big-button {
// 		&:hover {
// 			color: $awesomethings;
// 		}
// 	}
// }


#mfstrangers {
	background: $mfstrangers;

	.hero-image {
		background-image: url('/img/mfstrangers/hero.jpg');
		background-position: center center;

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($mfstrangers, 0) 0%, $mfstrangers 100%));
		}
	}

	.big-button {
		&:hover {
			color: $mfstrangers;
		}
	}
}


// #renaissance {
// 	background: $renaissance;

// 	.hero-image {
// 		background-image: url('/img/renaissance/hero.jpg');

// 		@include breakpoint(mobile) {
// 			background-position: 25% top;
// 		}

// 		&:after {
// 			@include background-image(linear-gradient(to bottom, transparent 0%, $renaissance 100%));
// 		}
// 	}
// }


#hotcars {
	background: $hotcars;

	.hero-image {
		background-image: url('/img/hotcars/hero.jpg');

		&:after {
			@include background-image(linear-gradient(to bottom, rgba($hotcars, 0) 0%, $hotcars 100%));
		}
	}

	.big-button {
		&:hover {
			color: $hotcars;
		}
	}
}


// HALLOWEEN
// VOLKSWAGEN CREDIT
// .NYC DOMAIN
// COMCAST BUSINESS CLASS
// SWEETGREEN