/* WORK */
$tesla: #f10600;
$giffffr: #ff007f;
$sketchbook: #0c1e27;
$awesomethings: #a9a9a9;
$jquery: #0769AD;
$renaissance: #f89d31;
$mfstrangers: #8e44ad;
$hotcars: #0076be;



.browser {
	width: 100%;
	height: 34px;
	border-bottom: 1px solid rgba(black, 0.25);
	background-image: image-url('browser-btn.png'), image-url('browser-chrome.png');
	background-repeat: no-repeat, repeat-x;
	background-size: auto 100%;
	background-position: left center;
	border-radius: 5px 5px 0 0;
	z-index: 10;
}



#tesla {
	background: $tesla;

	.hero-image {
		background-image: image-url('tesla/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $tesla));
		}
	}
}


#giffffr {
	background: $giffffr;

	.hero-image {
		background-image: image-url('giffffr/hero.gif'), image-url('giffffr/hero.jpg');
		background-size: cover, cover;
		background-position: center bottom, center bottom;

		&:after {
			@include background-image(linear-gradient(transparent, $giffffr));
		}
	}

	.big-button {
		&:hover {
			color: $giffffr;
		}
	}
}


#sketchbook {
	background: $sketchbook;

	.hero-image {
		background-image: image-url('sketchbook/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $sketchbook));
		}
	}

	.big-button {
		&:hover {
			color: $sketchbook;
		}
	}
}


#awesomethings {
	background: $awesomethings;

	.hero-image {
		background-image: image-url('awesomethings/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $awesomethings));
		}
	}

	.big-button {
		&:hover {
			color: $awesomethings;
		}
	}
}


#jquery {
	background: $jquery;

	.hero-image {
		background-image: image-url('jquery/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $jquery));
		}
	}
}


#renaissance {
	background: $renaissance;

	.hero-image {
		background-image: image-url('renaissance/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $renaissance));
		}
	}
}


#mfstrangers {
	background: $mfstrangers;

	.hero-image {
		background-image: image-url('mfstrangers/hero.jpg');
		background-position: center center;

		&:after {
			@include background-image(linear-gradient(transparent, $mfstrangers));
		}
	}

	.big-button {
		&:hover {
			color: $mfstrangers;
		}
	}
}


#hotcars {
	background: $hotcars;

	.hero-image {
		background-image: image-url('hotcars/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $hotcars));
		}
	}

	.big-button {
		&:hover {
			color: $hotcars;
		}
	}
}


// HALLOWEEN
// METRO HOT CARS
// VOLKSWAGEN CREDIT
// .NYC DOMAIN
// COMCAST BUSINESS CLASS
// SWEETGREEN