/* WORK */
$tesla: #f10600;
$giffffr: #ff007f;
$sketchbook: #0c1e27;
$awesomethings: #a9a9a9;
$jquery: #0769AD;
$renaissance: #f89d31;



#tesla {
	background: $tesla;

	.hero-image {
		background-image: url('../img/tesla/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $tesla));
		}
	}
}


#giffffr {
	background: $giffffr;

	.hero-image {
		background-image: url('../img/giffffr/hero.gif'), url('../img/giffffr/hero.jpg');
		background-size: cover, cover;
		background-position: center bottom, center bottom;

		&:after {
			@include background-image(linear-gradient(transparent, $giffffr));
		}
	}

	.big-button {
		&:hover {
			color: $giffffr;
		}
	}
}


#sketchbook {
	background: $sketchbook;

	.hero-image {
		background-image: url('../img/sketchbook/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $sketchbook));
		}
	}

	.big-button {
		&:hover {
			color: $sketchbook;
		}
	}
}


#awesomethings {
	background: $awesomethings;

	.hero-image {
		background-image: url('../img/awesomethings/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $awesomethings));
		}
	}

	.big-button {
		&:hover {
			color: $awesomethings;
		}
	}
}


#jquery {
	background: $jquery;

	.hero-image {
		background-image: url('../img/jquery/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $jquery));
		}
	}
}


#renaissance {
	background: $renaissance;

	.hero-image {
		background-image: url('../img/renaissance/hero.jpg');

		&:after {
			@include background-image(linear-gradient(transparent, $renaissance));
		}
	}
}


// HALLOWEEN
// MISTAKEN FOR STRANGERS
// METRO HOT CARS
// VOLKSWAGEN CREDIT
// .NYC DOMAIN
// COMCAST BUSINESS CLASS
// SWEETGREEN