@@include('includes/head.tpl.html')
@@include('includes/nav.tpl.html')
@@include('includes/hero_stranger.tpl.html')

@@include('work/doom.tpl.html')
@@include('work/starwars.tpl.html')
@@include('work/nclud.tpl.html')
@@include('work/nbcsports.tpl.html')
@@include('work/worldofx.tpl.html')
@@include('work/thisweeksplaylist.tpl.html')
@@include('work/tesla.tpl.html')
@@include('work/giffffr.tpl.html')
@@include('work/mfs.tpl.html')
@@include('work/hotcars.tpl.html')

@@include('includes/about.tpl.html')
@@include('includes/footer.tpl.html')

