<section class="about-footer">
	<article id="about">
	    <div class="column">
	        <p>My name&rsquo;s Kyle. I&rsquo;m a designer and coder. I&rsquo;m sarcastic. I sing in the car. I love Chuck Taylors and Wayfarers. I&rsquo;m a font nerd. I organize my closet by color. I was born on a Friday. I&rsquo;ve been to the emergency room in every place I&rsquo;ve ever lived.</p>

	        <p>I&rsquo;m the senior interactive designer for <a href="https://nclud.com/" target="_blank">nclud</a> in Washington, DC (but I live in Richmond, Virginia). You should check us out &mdash; we&rsquo;re nice people and we do great work.</p>

	        <p>I write about design, code, technology, advertising, and creativity on <a href="https://medium.com/@kyle_conrad" target="_blank">Medium</a>. I post weekly music &mdash; both new and old &mdash; on <a href="http://thisweeksplaylist.co/" target="_blank">This Week's Playlist</a>.</p>
	        
	        <p>Other than that, I post random thoughts on <a href="https://www.twitter.com/kyle_conrad" target="_blank">Twitter</a>, random things on <a href="http://blog.kyleconrad.com" target="_blank">Tumblr</a>, photos on <a href="http://instagram.com/kyle_conrad" target="_blank">Instagram</a>, code and projects on <a href="https://github.com/kyleconrad" target="_blank">Github</a>, and designs in progress on <a href="https://dribbble.com/kyle_conrad" target="_blank">Dribbble</a>.</p>

	        <p>Do you have an awesome project that needs design or code? I&rsquo;m available for limited freelance work, so <a href="mailto:kyle@kyleconrad.com" target="_blank">email me</a>.</p>

	        <hr>

	        <h3>Additional Clientele</h3>
	        <span class="client-list">African Wildlife Foundation, AOL, Audi Financial Services, Clyde's Restaurant Group, Comcast, Doubletree by Hilton, Habitat for Humanity, jQuery Foundation, Neustar, RAINN, Renaissance Hotels by Marriott, Volkswagen Financial Services, Sweetgreen, Townsquare Media, US Department of State</span>
	    </div>
	</article>

	<footer class="column">
	    <hr>
	    <ul>
	        <li><a href="mailto:kyle@kyleconrad.com">Email</a></li>
	        <li><a href="https://www.twitter.com/kyle_conrad" target="_blank">Twitter</a></li>
	        <li><a href="https://github.com/kyleconrad" target="_blank">Github</a></li>
	        <li><a href="https://medium.com/@kyle_conrad" target="_blank">Medium</a></li>
	    </ul>

	    <span id="dmx"></span>
	</footer>
</section>