<!-- <header id="main-header">
	<object data="/img/header.svg" type="image/svg+xml" class="hero">
    	<embed src="/img/header.svg" type="image/svg+xml" class="hero" />
	</object>
</header> -->

<header id="hero-stranger">
	<object data="/img/header-stranger.svg" type="image/svg+xml" class="logo-stranger">
    	<embed src="/img/header-stranger.svg" type="image/svg+xml" class="logo-stranger" />
	</object>

	<img src="/img/title-stranger.svg" class="title-stranger" alt="Design And Code">

	 <img src="/img/credits-stranger.svg" class="credits-stranger" alt="Created By Kyle Conrad">
</header>